<% require 'pry' %>

<h2>Train Name: <%= @train.name %></h2>

<h3>This train services these cities:</h3>
  <% if @train.cities %>
  <%# <% binding.pry %> %>
    <ul>
      <% @train.cities.each do |city| %>
      <%# <% binding.pry %> %>
        <li><a href="/trains/<%= @train.id %>/cities/<%= city.id %>"><%= city.name %></a></li>
      <% end %>
    </ul>
  <% else %>
    <p>There are no cities listed for this train yet.</p>
  <% end %>

<br>
<br>


<h4>Add a city:</h4>

<form action="/trains/<%= @train.id %>/cities" method="post">
  <div class="form-group">
    <input id="city_name" name="city_name" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Add city</button>
</form>



<p><a href="/trains/<%= @train.id %>/edit">Edit train</a></p>
<p><a href="/trains">Return to train list</a></p>
